@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-zinc-100;
  -webkit-font-smoothing: antialised;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4d4d57;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

.mainHeader {
  @apply w-full py-5 flex items-center justify-center bg-gray-700 border-b border-gray-600;
}

.buttonWithIcon {
  @apply p-4 text-sm flex items-center rounded font-bold uppercase gap-2 justify-center transition-colors
}

.buttonCard {
  @apply bg-gray-700 rounded overflow-hidden flex items-stretch gap-6 hover:bg-gray-600 transition-colors
}

.inputSubscribe {
  @apply bg-gray-900 rounded px-5 h-14 focus:outline-none focus:border-green-500 focus:ring-1 focus:ring-green-500
}